<% @stores.each do |store| %>
  <section class="section store-section">
    <div class="container">
      <div class="card has-store">
        <div class="store-info">
          <%= link_to store_path(store) do %>
            <figure class="image is-3by2">
              <%= image_tag store.image %>
            </figure>
          <% end %>
          <div class="card-content has-border-right">
            <%= link_to edit_store_path(store), class: 'button is-small is-primary is-outlined is-edit' do %>
              <i class="fa fa-pencil-square-o"></i>
            <% end %>
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <%= image_tag store.logo %>
                </figure>
              </div>
              <div class="media-content">
                <%= link_to store_path(store) do %>
                  <p class="title is-4">
                    <%= store.name %>
                  </p>
                <% end %>
                <p class="subtitle is-6">@johnsmith</p>
              </div>
            </div>
            <div class="content has-description">
              <%= store.description %>
            </div>
            <div class="content has-address">
              地址： <%= store.address %>
            </div>
            <div class="columns">
              <div class="column is-3">
                <div class="title is-4">$150</div>
                <div class="subtitle">最低價</div>
              </div>
              <div class="column is-3">
                <div class="title is-4">15</div>
                <div class="subtitle">項商品</div>
              </div>
              <div class="column is-6">
                <div class="title is-4">
                  <%= store.phone %>
                </div>
                <div class="subtitle">聯絡電話</div>
              </div>
            </div>
          </div>
        </div>
        <div class="store-menu">
          <div class="titlebar has-text-centered">Menu</div>

          <div class="card-content">
            <div class="columns is-multiline">
              <% store.items.each do |item|%>
                <div class="column is-4">
                  <div class="card">
                    <div class="card-image">
                      <figure class="image is-4by3">
                        <%= image_tag item.image %>
                      </figure>
                    </div>
                    <div class="card-content">
                      <div><%= item.name %></div>
                      <div class="title is-5">$<%= item.price %></div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>