<section class="section purchases-section">
  <div class="container">
    <h1 class="title is-4">所有團購</h1>

    <div class="columns is-multiline">
      <% @purchases.each do |purchase| %>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-2by1">
                <%= image_tag purchase.store.image %>
              </figure>
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-48x48">
                      <%= image_tag purchase.store.logo %>
                    </figure>
                  </div>
                  <div class="media-content">
                    <%= link_to purchase_path(purchase) do %>
                      <p class="title is-4"><%= purchase.store.name %></p>
                    <% end  %>
                    <p class="subtitle is-6">團長：<%= purchase.user.email %></p>
                  </div>
                </div>
                <div class="content">
                  <%= purchase.store.description.truncate(30) %>
                </div>
                <div class="columns">
                  <div class="column is-3">
                    <div class="title is-4">$150</div>
                    <div class="subtitle is-6">最低價</div>
                  </div>
                  <div class="column is-3">
                    <div class="title is-4">140</div>
                    <div class="subtitle is-6">人團購</div>
                  </div>
                  <div class="column is-6">
                    <div class="title is-4"><%= purchase.end_time.strftime('%m/%d %H:%M') %></div>
                    <div class="subtitle is-6">限時截止</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>