<h1 class="title is-4">提議</h1>

<div class="columns">
  <div class="column is-6 is-offset-3">
    <div class="box">
      <%= form_for @purchase do |f| %>
        <div class="field">
          <%= f.label :time_period, '時段', class: 'label' %>
          <div class="control">
            <span class="select">
              <%= f.select :time_period, ['早餐', '午餐', '晚餐'] %>
            </span>
          </div>
        </div>
        <div class="field">
          <%= f.label :end_time, '截止時間', class: 'label' %>
          <div class="control">
              <%= f.datetime_select :end_time %>
          </div>
        </div>
        <div class="field">
          <%= f.label :store_id, '店家', class: 'label' %>
          <div class="control">
            <span class="select">
              <%= f.collection_select :store_id, Store.all, :id, :name %>
            </span>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <%= f.submit '送出', class: 'button is-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
