<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-6 is-offset-3">
        <div class="card">
          <div class="card-content">
            <h1 class="title is-5">編輯菜單</h1>

            <%= form_for @item, url: store_item_path(@store, @item) do |f| %>
              <div class="field">
                <%= f.label :name, '名稱', class: 'label' %>
                <div class="control">
                  <%= f.text_field :name, class: 'input' %>
                </div>
              </div>

              <div class="field">
                <%= f.label :price, '價格', class: 'label' %>
                <div class="control">
                  <%= f.number_field :price, class: 'input' %>
                </div>
              </div>

              <div class="field">
                <%= f.label :image, '圖片', class: 'label' %>
                <div class="control">
                  <%= f.file_field :image, class: 'input' %>
                </div>
              </div>

              <div class="field">
                <%= link_to '刪除', store_item_path(@store, @item),method: :delete, class: 'button is-danger', data: {confirm: '確定要刪除嗎？'} %>
                <%= f.submit '確定', class: 'button is-primary' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>