<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <!-- todo: 加上連結 -->
      <%= link_to root_path, class: 'nav-item' do%>
        <%= image_tag 'logo' %>
      <% end %>
    </div>
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu">
      <!--  todo: 加上連結 -->
      <%= link_to '店家資訊', stores_path, class: 'nav-item is-tab is-active' %>
      <%= link_to '提議', new_purchase_path, class: 'nav-item is-tab' %>
      <%= link_to '歷史資訊', stores_path, class: 'nav-item is-tab' %>
      <%= link_to '帳戶管理', edit_user_registration_path, class: 'nav-item is-tab' %>
      <% if current_user %>
        <%= link_to '登出', destroy_user_session_path, method: :delete, class: 'nav-item is-tab' %>
      <% else %>
        <%= link_to '登入', new_user_session_path, class: 'nav-item is-tab' %>
      <% end %>
    </div>
  </div>
</nav>
